# A. BUSINESS PROBLEM

Ayiti Analytics Data Processing Bootcamp
Ayiti Analytics Data wants to expand its training centers throughout all the communes of the country. Your role as a data analyst is to help them realize this dream.

Its objective is to know which three communes of the country will be the most likely to expand its training centers.

Knowing that each cohort must have 30 students

How many applications must be made to select 25% women for each on average

What are the most effective communication channels (Alumni, Facebook, WhatsApp, Friend ...) that will allow a student to be susceptible to selection

What is the average number of university students who should participate in this program

What will be the average number of applications per week that we could have
How many weeks should we extend the application process to select 60 students per commune?
If we were to do all the bootcamp online, who would be the best communes and how many applications would we need to select 30 student and what percentage of students would have a laptop, an internet connection, both at the same time
What are the most effective communication channels (Alumni, Facebook, WhatsApp, Friend ...) that will allow a women to be susceptible to selection
NB
Use the same framework of the BA project to complete this project

# B. DATA CLEANING

## STEP 1 : IMPORTING THE REQUIRED LIBRARIES

In [332]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import re as re
import seaborn as sns
import datetime as dt

##STEP 2 : LOADING DATA FILES

In [333]:
from google.colab import files

In [334]:
uploaded = files.upload()

Saving commune.xlsx to commune (4).xlsx
Saving data.ipynb to data (4).ipynb
Saving Dictionnaire.xlsx to Dictionnaire (4).xlsx
Saving enroll.csv to enroll (4).csv
Saving industry.csv to industry (4).csv
Saving ord.csv to ord (4).csv
Saving quest.csv to quest (4).csv
Saving study_domain.csv to study_domain (4).csv
Saving technology.csv to technology (4).csv
Saving transaction.csv to transaction (4).csv

## STEP 3 : READING FILES

In [335]:
enroll = pd.read_csv(r"enroll.csv")
quest = pd.read_csv(r"quest.csv")
industry = pd.read_csv(r"industry.csv")
ord = pd.read_csv(r"ord.csv")
study_domain = pd.read_csv(r"study_domain.csv")
transaction = pd.read_csv(r"transaction.csv")
technology = pd.read_csv(r"technology.csv")
commune=pd.read_excel(r"commune.xlsx")

## STEP 4 : CONVERT INTO DUMMIES & GROUP BY COMMON COLUMN

In [336]:
def dummies_create(data, value):
  x=pd.get_dummies(data=data, columns=value, prefix="", prefix_sep="")
  y=x.groupby("quest_id").sum()
  return y

In [337]:
study_domain2 = dummies_create(study_domain[["key", "quest_id", "values"]], ["values"])
technology2 = dummies_create(technology[["key", "quest_id", "values"]], ['values'])
industry2 = dummies_create(industry[["key", "quest_id", "values"]], ['values'])

In [338]:
industry2.head(2)

                                      Communications  ...  other
quest_id                                              ...
905ddcf2-ce95-11eb-9a92-7c67a234f601               0  ...      0
905e2608-ce95-11eb-809f-7c67a234f601               0  ...      0

[2 rows x 14 columns]

## STEP 5 : MERGE DATAFRAMES BY COMMON COLUMN

In [339]:
#Transform "Commune_Id" Values in lower Character before Merge
quest['department'] = quest['department'].apply(lambda x  : str(x))
quest['department']= quest['department'].apply(lambda x : x.upper())
quest['commune']= quest['commune'].apply(lambda x : x.upper())
#commune["Commune_Id"] = commune["Commune_Id"].str.lower()
#commune['id'] = commune["Commune_Id"].apply(lambda x : x[2:])
#commune['commune'] = (commune["Commune_Id"].apply(lambda x : x[0:2].lower())+ commune["Commune_Id"].apply(lambda x : x[2:]))
#Rename "Commune_Id" in "commune"
commune.rename(columns = {"Commune_Id": "commune"}, inplace = True)
commune

        Commune_en     Commune_FR commune  Departement ADM1_PCODE
0         Abricots       Abricots  HT0812  Grande'Anse       HT08
1     Acul du Nord   Acul du Nord  HT0321        North       HT03
2    Anse-a-Foleur  Anse-à-Foleur  HT0922   North-West       HT09
3     Anse-a-Pitre   Anse-à-Pître  HT0234   South-East       HT02
4      Anse-a-Veau    Anse-à-Veau  HT1021       Nippes       HT10
..             ...            ...     ...          ...        ...
135        Tiburon        Tiburon  HT0753        South       HT07
136        Torbeck        Torbeck  HT0712        South       HT07
137   Trou du Nord   Trou du Nord  HT0431   North-East       HT04
138      Vallieres      Vallières  HT0441   North-East       HT04
139      Verrettes      Verrettes  HT0532   Artibonite       HT05

[140 rows x 5 columns]

In [340]:
#quest['department'] = quest['department'].apply(lambda x  : str(x))
#quest['department']= quest['department'].apply(lambda x : x.upper())
#quest['commune']= quest['commune'].apply(lambda x : x.upper())
#commune["Commune_Id"] = commune["Commune_Id"].str.lower()
#commune.rename(columns = {"Commune_en": "commune_FR"}, inplace = True)
#quest
result1=pd.merge(quest,commune, how = 'left', left_on=['department','commune'], right_on=['ADM1_PCODE','commune'])
result1

     Unnamed: 0  gender  ... Departement ADM1_PCODE
0             0    male  ...         NaN        NaN
1             1  female  ...        West       HT01
2             2    male  ...        West       HT01
3             3    male  ...        West       HT01
4             4    male  ...        West       HT01
..          ...     ...  ...         ...        ...
245         245    male  ...      Centre       HT06
246         246    male  ...      Centre       HT06
247         247    male  ...      Centre       HT06
248         248    male  ...  North-East       HT04
249         249    male  ...      Nippes       HT10

[250 rows x 21 columns]

In [341]:
result2=pd.merge(left=result, right=study_domain2, how = 'left',on='quest_id')
result2.head(2)

   Unnamed: 0  gender         dob  ... Medicine Statistics other
0           0    male  25/08/1998  ...      NaN        NaN   NaN
1           1  female  29/09/1996  ...      0.0        0.0   1.0

[2 rows x 30 columns]

In [342]:
#table1 = pd.merge(quest,commune, how = 'left',left_on =['department','commune'],right_on = ['ADM1_PCODE','Commune_Id'])
#table1

In [343]:
#table2=pd.merge(left=table1, right=study_domain2, how = 'left',on='quest_id')
#table2
#table2 = pd.merge(table1,study_domain, how = 'left',left_on =['quest_id'],right_on = ['quest_id'] )
#display(table2)
result3=pd.merge(enroll,transaction, how = 'right',left_on =['user_id'],right_on = ['user_id'])

In [344]:
result3.head(2)

   Unnamed: 0_x              created_at_x  ... course_id_y  transaction_id
0           129  2021-03-08T05:08:50.684Z  ...     1047613      4641281952
1           130  2021-03-08T17:26:35.715Z  ...     1047613      4644270160

[2 rows x 20 columns]

In [345]:
#table3=pd.merge(enroll,transaction, how = 'right',left_on =['user_id'],right_on = ['user_id'] )
#table3=pd.merge(enroll,transaction, how = 'right', on =['user_id'])
#table3

In [346]:
result4 =pd.merge(enroll,ord, how = 'right',left_on =['user_id'],right_on = ['user_id'] )
result4.head(2)

   Unnamed: 0_x  ...                            quest_id_y
0         146.0  ...  906b3c86-ce95-11eb-b6a7-7c67a234f601
1         144.0  ...  906636cf-ce95-11eb-8679-7c67a234f601

[2 rows x 27 columns]

In [347]:
result3['Payment Method'] = 'Yes'
result4['Payment Method'] = 'Yes'
x = result4.loc[:,['Payment Method','quest_id_y']]
y = result3.loc[:,['Payment Method','quest_id']]
x=x.rename(columns = {'quest_id_y': 'quest_id'})
z = pd.concat([x,y],axis = 0)
display(z)

   Payment Method                              quest_id
0             Yes  906b3c86-ce95-11eb-b6a7-7c67a234f601
1             Yes  906636cf-ce95-11eb-8679-7c67a234f601
2             Yes  906968f5-ce95-11eb-9e1a-7c67a234f601
3             Yes  9060477c-ce95-11eb-ace3-7c67a234f601
4             Yes  9064ff29-ce95-11eb-a3d3-7c67a234f601
..            ...                                   ...
55            Yes                                   NaN
56            Yes  90691afb-ce95-11eb-a4c3-7c67a234f601
57            Yes  906b65e3-ce95-11eb-a294-7c67a234f601
58            Yes  906241d5-ce95-11eb-9850-7c67a234f601
59            Yes                                   NaN

[78 rows x 2 columns]

### Forme Finale du dataset

In [348]:
result5 = pd.merge(result1,z,how = 'left', left_on = 'quest_id', right_on= 'quest_id')
result5

     Unnamed: 0  gender         dob  ... Departement ADM1_PCODE Payment Method
0             0    male  25/08/1998  ...         NaN        NaN            NaN
1             1  female  29/09/1996  ...        West       HT01            NaN
2             2    male  17/05/1996  ...        West       HT01            Yes
3             3    male  24/11/1996  ...        West       HT01            NaN
4             4    male  20/07/1997  ...        West       HT01            NaN
..          ...     ...         ...  ...         ...        ...            ...
245         245    male  15/02/1994  ...      Centre       HT06            Yes
246         246    male   8/10/1990  ...      Centre       HT06            NaN
247         247    male  28/12/1993  ...      Centre       HT06            Yes
248         248    male  17/04/1992  ...  North-East       HT04            Yes
249         249    male  22/07/1993  ...      Nippes       HT10            Yes

[250 rows x 22 columns]

In [349]:
result5.columns

Index(['Unnamed: 0', 'gender', 'dob', 'commune', 'created_at', 'modified_at',
       'department', 'education_level', 'university', 'study_domain',
       'current_employed', 'formal_sector_job', 'have_computer_home',
       'internet_at_home', 'hear_AA_1', 'after_AA', 'quest_id', 'Commune_en',
       'Commune_FR', 'Departement', 'ADM1_PCODE', 'Payment Method'],
      dtype='object')

In [350]:
selected = ['gender', "commune",'dob','created_at','department','education_level','university','current_employed','formal_sector_job','have_computer_home','internet_at_home','hear_AA_1','after_AA','quest_id', 'Commune_FR','Departement','Payment Method']

In [351]:
result5 = result5.loc[:, ['gender','dob','created_at','education_level','university','current_employed','formal_sector_job','have_computer_home','internet_at_home','hear_AA_1','after_AA','quest_id', 'Commune_FR','Departement','Payment Method']]
result5.head(2)

   gender         dob  ... Departement Payment Method
0    male  25/08/1998  ...         NaN            NaN
1  female  29/09/1996  ...        West            NaN

[2 rows x 15 columns]

In [352]:
dict = {'gender':'Sex','created_at':'date','hear_AA_1':'Channel','after_AA':'what will you do after'}
result5.rename(columns=dict, inplace=True)
display(result5.head(4))

      Sex         dob  ... Departement Payment Method
0    male  25/08/1998  ...         NaN            NaN
1  female  29/09/1996  ...        West            NaN
2    male  17/05/1996  ...        West            Yes
3    male  24/11/1996  ...        West            NaN

[4 rows x 15 columns]

In [353]:
result5["date"]= pd.to_datetime(result5["date"])
result5["date"] = result5["date"].apply(lambda x: str(x)[:10])
result5["date"].head(6)

0    2021-02-14
1    2021-02-16
2    2021-02-16
3    2021-02-16
4    2021-02-16
5    2021-02-16
Name: date, dtype: object

In [354]:
print(result5.loc[result5["dob"]=="3 aout 1977",:])

       Sex          dob        date  ...      Commune_FR Departement Payment Method
13  female  3 aout 1977  2021-02-17  ...  Port-au-Prince        West            NaN

[1 rows x 15 columns]

In [355]:
result5["dob"].replace({"3 aout 1977": "3/08/1977"}, inplace=True)
result5["dob"]= pd.to_datetime(result5["dob"])
result5["dob"]

0     1998-08-25
1     1996-09-29
2     1996-05-17
3     1996-11-24
4     1997-07-20
         ...
245   1994-02-15
246   1990-08-10
247   1993-12-28
248   1992-04-17
249   1993-07-22
Name: dob, Length: 250, dtype: datetime64[ns]

In [356]:
result5['Payment Method'] = result5['Payment Method'].fillna('No')
result5['Payment Method']

0       No
1       No
2      Yes
3       No
4       No
      ...
245    Yes
246     No
247    Yes
248    Yes
249    Yes
Name: Payment Method, Length: 250, dtype: object

In [357]:
result5.isna().value_counts()

Sex    dob    date   education_level  university  current_employed  formal_sector_job  have_computer_home  internet_at_home  Channel  what will you do after  quest_id  Commune_FR  Departement  Payment Method
False  False  False  False            False       False             False              False               False             False    False                   False     False       False        False             242
       True   False  False            False       False             False              False               False             False    False                   False     False       False        False               6
       False  False  False            False       False             False              False               False             False    False                   False     True        True         False               2
dtype: int64

In [358]:
result5.dropna()
result5.shape

(250, 15)

In [359]:
result5.columns.T

Index(['Sex', 'dob', 'date', 'education_level', 'university',
       'current_employed', 'formal_sector_job', 'have_computer_home',
       'internet_at_home', 'Channel', 'what will you do after', 'quest_id',
       'Commune_FR', 'Departement', 'Payment Method'],
      dtype='object')

In [360]:
result5.head(2)

      Sex        dob        date  ...      Commune_FR Departement Payment Method
0    male 1998-08-25  2021-02-14  ...             NaN         NaN             No
1  female 1996-09-29  2021-02-16  ...  Port-au-Prince        West             No

[2 rows x 15 columns]

In [361]:
#result5["Sex"] = result5["Sex"].apply( lambda x : 1 if x == "female" else 0)

In [362]:
#result5["Sex"].value_counts()

In [363]:
result5.dtypes

Sex                               object
dob                       datetime64[ns]
date                              object
education_level                   object
university                        object
current_employed                  object
formal_sector_job                 object
have_computer_home                object
internet_at_home                  object
Channel                           object
what will you do after            object
quest_id                          object
Commune_FR                        object
Departement                       object
Payment Method                    object
dtype: object

In [364]:
from datetime import date
def Calculate_Age(born) :
    """
    This function will allow us to calcute the age of all the applicants by the end of the application process
    """
    today = date(2021,6,18)
    return today.year - born.year - ((today.month,today.day)< (born.month,born.day))

In [365]:
result5['Age'] = result5['dob'].apply(Calculate_Age)
result5['Age']
#for col in float_col.columns.values:
  #df[col] = df[col].astype('int64')

0      22.0
1      24.0
2      25.0
3      24.0
4      23.0
       ...
245    27.0
246    30.0
247    27.0
248    29.0
249    27.0
Name: Age, Length: 250, dtype: float64

In [366]:
numb_na = result5.isna().sum()
numb_na.sort_values()
numb_na[numb_na>0].count

<bound method Series.count of dob            6
Commune_FR     2
Departement    2
Age            6
dtype: int64>

In [367]:
result5 = result5.drop(["dob"], axis=1)
result5

        Sex        date  ... Payment Method   Age
0      male  2021-02-14  ...             No  22.0
1    female  2021-02-16  ...             No  24.0
2      male  2021-02-16  ...            Yes  25.0
3      male  2021-02-16  ...             No  24.0
4      male  2021-02-16  ...             No  23.0
..      ...         ...  ...            ...   ...
245    male  2021-03-02  ...            Yes  27.0
246    male  2021-03-10  ...             No  30.0
247    male  2021-03-14  ...            Yes  27.0
248    male  2021-03-08  ...            Yes  29.0
249    male  2021-03-10  ...            Yes  27.0

[250 rows x 15 columns]

In [368]:
result5.columns

Index(['Sex', 'date', 'education_level', 'university', 'current_employed',
       'formal_sector_job', 'have_computer_home', 'internet_at_home',
       'Channel', 'what will you do after', 'quest_id', 'Commune_FR',
       'Departement', 'Payment Method', 'Age'],
      dtype='object')

In [369]:
def pivotabl(x):
  new_pivot=pd.pivot_table(result5, values='Commune_FR', 
                    index=['quest_id'], 
                    columns=x,
                    aggfunc='count')
  new_pivot=new_pivot.fillna(0)
  #new_pivot.drop(["unkwown", "other", "Other"],axis=1, inplace=True)
  return new_pivot

In [373]:
pv_edulevel = pivotabl("education_level")
Channel = pivotabl('Channel')
pv_internet = pivotabl("internet_at_home")
pv_computer = pivotabl("have_computer_home")
pv_employed = pivotabl('current_employed')
pv_payed = pivotabl("Payment Method")
pv_internet.rename(columns={"No":"Don't have internet", "Yes":"Have internet"}, inplace=True)
pv_computer.rename(columns={"No":"Don't have computer", "Yes":"Have computer"}, inplace=True)
pv_employed.rename(columns={"No":"Don't be employed", "Yes":"Employed"}, inplace=True)
pv_payed.rename(columns={"No":"Don't have payed", "Yes":"Have payed"}, inplace=True)

In [375]:
data_commune = pd.concat([Sex, education_level, Channel, pv_internet, pv_computer, pv_employed, pv_payed], axis=1)
data_commune

NameError: ignored

In [381]:
def pivotabl(x):
  new_pivot=pd.pivot_table(result5, values='Commune_FR', 
                    index=['quest_id'], 
                    columns=x,
                    aggfunc='count')
  new_pivot=new_pivot.fillna(0)
  #new_pivot.drop(["unkwown", "other", "Other"],axis=1, inplace=True)
  return new_pivot

In [382]:
pivotabl("Sex")

Sex                                   female  male
quest_id
905dc006-ce95-11eb-b2f9-7c67a234f601     0.0   0.0
905ddcf2-ce95-11eb-9a92-7c67a234f601     1.0   0.0
905e2608-ce95-11eb-809f-7c67a234f601     0.0   1.0
905e4cf5-ce95-11eb-96a9-7c67a234f601     0.0   1.0
905e73fd-ce95-11eb-a7b0-7c67a234f601     0.0   1.0
...                                      ...   ...
906b3c84-ce95-11eb-8c2a-7c67a234f601     0.0   1.0
906b3c85-ce95-11eb-9b87-7c67a234f601     0.0   1.0
906b3c86-ce95-11eb-b6a7-7c67a234f601     0.0   1.0
906b65e2-ce95-11eb-8b5c-7c67a234f601     0.0   1.0
906b65e3-ce95-11eb-a294-7c67a234f601     0.0   1.0

[250 rows x 2 columns]

Convert Sex group_age Payment Method, Internet_at_home, courent_employed, formal_sector, university, education_level, Sex into Categorycal

# C. DESCRIPTIVE ANALYSIS

### Context : The Ayiti Analytics objective is to know which three communes of the country will be the most likely to expand its training centers. Knowing that each cohort must have 30 students.
### NB : Use the same framework of the BA project to complete this project

### keys Function

In [ ]:
# Define a function who generate barchart
def generate_barchart(data=result, title ="",abs_value ="Total",rel_value="Percent",figsize =(20,10)):
  
  """ function who generate barchart"""
  
  plt.figure(figsize=figsize)
  axes = sns.barplot(data=data,x=data.index,y=abs_value)
  i=0
  for tot, perc in zip(data[abs_value],data[rel_value]):
    axes.text(i,
              tot/2,
              str(np.round(perc*100,2))+ "%",
              fontdict=dict(color='White',fontsize=12,horizontalalignment="center")
              )
    axes.text(i,
              tot+ 3,
              str(tot),
               fontdict=dict(color='blue',fontsize=12,horizontalalignment="center")
              )
    
    i+=1
  plt.title(title)
  plt.show()

In [ ]:
# Calculate absolute frequency and relative Frequency for a categpric variable

def prob_category(data,col="Pclass_letter", abs_value ="Total",rel_value ="Percent",show_plot=False, title=""):
  res1 = data[col].value_counts().to_frame()
  res1.columns = [abs_value]

  res2 = data[col].value_counts(normalize=True).to_frame()
  res2.columns = [rel_value]
  if  not show_plot:
    return pd.concat([res1,res2],axis=1)
  else:
    result = pd.concat([res1,res2],axis=1)
    generate_barchart(data=result.head(), title =title,abs_value =abs_value,rel_value=rel_value,figsize =(10,10))
    return result

In [ ]:
result5[['education_level', 'university','current_employed', 'formal_sector_job', 'have_computer_home','internet_at_home', 'Channel', 'what will you do after','Commune_FR', 'Departement']].fillna(0).astype(int, copy=True)

In [ ]:
result5.Sex = pd.Categorical(result5.Sex)
print(result5["Sex"].dtypes)
result5["Payment Method"] = pd.Categorical(result5["Payment Method"])
print(result5["Payment Method"].dtypes)

In [ ]:
#Show all univariate analysis succesively
for cat_col in result5:
  result = prob_category(data=result5,col=cat_col, abs_value ="Total",rel_value ="Percent",show_plot=True,title=f"{cat_col} Distribution")
display(result)

In [ ]:
def dummies_create(data, value):

  """ This function allow us to extract each values of a columns and place them into a separate Columns before Merge """
  
  x=pd.get_dummies(data=data, columns=value, prefix="", prefix_sep="")
  y=x.groupby("quest_id").sum()
  return y

In [ ]:
def pivot_table(x):

  """ This function allow us to do a Pivot Table"""
  
  new_pivot=pd.pivot_table(result5, values='quest_id', 
                    index=['Commune_FR'], 
                    columns=x,
                    aggfunc='count')
  new_pivot=new_pivot.fillna(0)
  new_pivot.drop(["unkwown", "other", "Other"],axis=1, inplace=True)
  return new_pivot

In [ ]:
def dataset_cardinalite(dataset,is_number=True):
  """
  This function calculates a set of single value, number or list for each of columns.
  @params dataset :Data set used in the function
  @params is_number :allows the function to return a unique number or list of unique values ​​for each column.
  """
  # Create a dictionarie
  my_dict = dict()
  # select each columns
  for col in dataset.columns:
    # Memorize cardinality and each unique values by columns
    if is_number:
      my_dict[col] = dataset[col].nunique()
    else:
       my_dict[col] = dataset[col].unique()
  # return the dictionnarie
  return my_dict

In [ ]:
def cateorigal_label(dataset=None,col_name=None,dict0=None, use_dict =False):
  """ 
  This function allow us to create a categorical values
  """
  if not use_dict:
   return dataset[col_name].apply(lambda x: f"{col_name} {x}" )
  else:
    return dataset[col_name].replace(dict0)

In [ ]:
def pivot(y):
  pivo=pd.pivot_table(result5, values='quest_id', index=['Commune_FR'], columns=y,aggfunc='count')
  pivo=pivo.fillna(0)
  return pivo
my_pivot=pivot('internet_at_home')

In [ ]:
# Transform 
for col in  result5.columns:
    result5[f"{col}"] = cateorigal_label(dataset=result5,col_name=col,dict0 ={0:"No",1:"Yes"},use_dict=True)
  #else:
  #  cat_dataset[f"{col}"] = cateorigal_label(dataset=cat_dataset,col_name=col)
    print(result5)

#### Question 1. How many applications must be made to select 25% women for each on average

#### Question 2. What are the most effective communication channels (Alumni, Facebook, WhatsApp, Friend ...) that will allow a student to be susceptible to selection

#### Question 3. What is the average number of university students who should participate in this program

#### Question 4. What will be the average number of applications per week that we could have

#### Question 5. How many weeks should we extend the application process to select 60 students per commune?

#### Question 6. If we were to do all the bootcamp online, who would be the best communes and how many applications would we need to select 30 student and what percentage of students would have a laptop, an internet connection, both at the same time

In [ ]:
# Filtering the 
co = data["Commune"].value_counts().head(4).to_frame()
co

#### question 7. What are the most effective communication channels (Alumni, Facebook, WhatsApp, Friend ...) that will allow a women to be susceptible to selection